html {
  font-family: monospace;
  font-weight: 500;
  color: #016c9a;
  scroll-behavior: smooth;
  animation: scroll .5s forwards;
  transition: .5s ease;


}
a {
  list-style: none;
}

li {
  font-size: 0.8rem;

}

img {
  display: block;
  margin: 0 auto;
}

#dados-json {
  margin: 20px 20px;
}

section#list-push {

  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: block;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

li {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin: 6px 1px;
  justify-items: center;

}

li:hover {
  background: #E0FFFF;
}


.nome {
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  display: flex;
  justify-content: center;
}

@keyframes scroll {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media(min-width: 700px) {
  html {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1fr;
    font-size: 2rem;
    max-width: 100%;
    overflow-x: hidden;


  }

  section#list-push {
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-self: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

}